In [7]:
import numpy as np
import pandas as pd
 
# create dataset
data = {'Id': [1, 2, 3, 4, 5, 6, 7, 8],
         
        'Gender': ['M', 'M', 'F', np.nan,
                   np.nan, 'F', 'M', 'F'],
         
        'Color': [np.nan, "Red", "Blue",
                  "Red", np.nan, "Red",
                  "Green", np.nan]}
 
# convert to data frame
df = pd.DataFrame(data)
display(df)

   Id Gender  Color
0   1      M    NaN
1   2      M    Red
2   3      F   Blue
3   4    NaN    Red
4   5    NaN    NaN
5   6      F    Red
6   7      M  Green
7   8      F    NaN

In [8]:
# using sklearn-pandas package
#from sklearn_pandas import CategoricalImputer
from sklearn_pandas import DataFrameMapper, gen_features, CategoricalImputer
import sklearn.preprocessing
 
# handling NaN values
#imputer = CategoricalImputer()
#data = np.array(df['Color'], dtype=object)
#imputer.fit_transform(data)

ImportError: cannot import name 'CategoricalImputer' from 'sklearn_pandas' (C:\Users\rajar\AppData\Roaming\Python\Python39\site-packages\sklearn_pandas\__init__.py)